.textOut {
    max-width: 70ch;
    margin: 0 auto;
}

.textOutWrapper {
    height: 90%;
    width: 100%;
    overflow: auto;
}

.outputMessage {
    text-align: left;
}

.outputCommand {
    text-align: left;
    color: green;
}