.App {
  text-align: center;
}

.outputArea {
  position: relative;
  height: 70%;
  border: 2px solid blue;
}

.inputArea {
  position: relative;
  height: 30%;
  border: 2px solid red;
}

.mainFrame {
  height: 100vh;
  overflow: hidden;
}
